/* #main-container{
    display: flex;
    flex-direction: row;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: #fbf6ed; */
  
}
body{
  background-color: #fbf6ed;
}

#header,
#options {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: white;
}

#logo {
  text-align: center;
  /* border: 2px solid blue; */
  align-self: center;
}
#header {
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 0 3.5vw 0 2vw;
  box-shadow: 0 0 8px 0;
}
#options {
}
.h-list {
  /* border: 2px solid yellow; */
  padding: 1vw 0;
  font-size: 12px;
  margin: 0 0.7vw;
  border-bottom: 2px solid white;
}
.h-list:hover {
  border-bottom: 2px solid #f04c00d8;
  cursor: pointer;
}
.orng {
  color: #f04c00d8;
}
#btn-h {
  font-weight: bold;
  background-color: #f04c00d8;
  border-radius: 4vw;
  margin: 6px;
  padding: 0 1vw;
  color: white;
  border: 1px solid #f04c00d8;
}
#btn-h:hover {
  background-color: white;
  color: #f04c00d8;
  border: 1px solid #f04c00d8;
  cursor: pointer;
}
/* Paragraph */
#pgph {
  margin: 0 25vw 2vw 25vw;
  /* border: 2px solid lightsalmon; */
  
}
#p-heading{
    padding:12px 0;
   
}
/* Boxes */
#boxes{
    /* border:2px solid blue; */
    padding:0 10vw;
    display: flex;
    width:100%;
   
}
.box{
    width:33.3%;
    /* border:2px solid yellow; */
    padding:0 1vw;
    height:100%;
    cursor: pointer;
    transition: width 0.5s;
}
.box:hover{
  width:35%;
 
}
.box-img{
  padding: 1vw;
}
.img{
    width:100%; 
    height:30vh;
     
}
#boxIcon{
  border:2px solid #f04c00d8;
  width:2vw;
  border-radius: 50%;
  text-align: center;
  color:#f04c00d8;
  cursor: pointer;
}

#boxIcon:hover{
  color: white;
  background-color:#f04c00d8;
}
#box-prgh{
  font-size: 12px;
  padding:2vh 0;

}
.box01, .box02{
  border-right: 1px solid grey;
}
